.Profile {
  height: 100%;
  background-color: #313233;
  color: lightgray;
  font-weight: bold;
}

.Profile .Profile-level {
  padding: 1rem 0 0 30px;
}
.Profile .Profile-meter {
  padding: 1rem 30px 0 0;
  overflow: hidden;
}

.DoppleImage {
  width: 982px;
  height: auto;
  position: relative;
  left: -2px;
}

.ThumbnailPlaceholder {
  height: 8rem;
  width: 8rem;
  position: relative;
}

.Nav div {
  height: 10rem;
}

.Nav-item {
  background-image: url('/nav.png');
  background-repeat: no-repeat;
  background-size: 400% 200%;
}

.Nav-item a {
  height: 100%;
  width: 100%;
  display: block;
}

.Nav-item-profile {
  background-position: 0 0;
}
.Nav-item-park {
  background-position: -245px 0;
}
.Nav-item-store {
  background-position: -490px 0;
}
.Nav-item-settings {
  background-position: -735px 0;
}

.Nav-item-profile.Nav-item-active {
  background-position: 0 -160px;
}
.Nav-item-park.Nav-item-active{
  background-position: -245px -160px;
}
.Nav-item-store.Nav-item-active{
  background-position: -490px -160px;
}
.Nav-item-settings.Nav-item-active{
  background-position: -735px -160px;
}


.Nav.Nav--bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.Meter {
  height: 3rem;
  width: 100%;
  position: relative;
  background: gray;
  border-radius: 1.5rem;
}

.Meter .Meter-mercury {
  width: 30%;
  height: 100%;
  background: lightgray;
  display: block;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.StoreShelf {
  /* position: relative; */
  width: 160px;
  height: 500px;
}

.Park, .Park-background {
  height: 100%;
}

.StatusBar {
  position: fixed;
  width: 100%;
  z-index: 100;
}


.Park-background {
  height: 100%;
  width: 100%;
  background-image: url('/park_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #83A34C;
}

.Park-pet {
  position: relative;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.Park-pet-1 {
  background-image: url('/park_pet_1.png')
}
.Park-pet-2 {
  background-image: url('/park_pet_2.png')
}
.Park-pet-3 {
  background-image: url('/park_pet_3.png')
}
.Park-pet-4 {
  background-image: url('/park_pet_4.png')
}

.Store {
  height: 100%;
  width: 100%;
  background-image: url('/store_bg_1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Settings {
  height: 100%;
  width: 100%;
  background-image: url('/setting.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(50,51,51);
}

.Splash {
  height: 100%;
  width: 100%;
  background-image: url('/splashpage.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(126,165,77);
}


.Store.Store-stage-2 {
  background-image: url('/store_bg_2.png');
}

.u-pullRight {
  float: right;
}
.u-pullLeft {
  float: left;
}

